* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  height: 10vh;

}
.nav-link{
  color:rgb(194, 194, 194);
  text-shadow: 2px 2px 2px black;
  
  }
  a.nav-link:hover{color: white;
  }

.logo {
  width: 80px;
  height: ratio 1/1;
}

ul {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;

}

body {
  background: #184e77;
  font-family: comfortaa, sans-serif;
  font-weight: bold;
  margin-top: 10vh;
  margin-bottom: 11vh;
}

tr,
td {

  font-size: 25px;
  color: white;
  border: 1.5mm ridge rgb(39, 39, 39);
  text-align: center;
  min-width: fit-content;

}

img#img {
  width: 200px;


}

footer {
  position: fixed;
  width: 100%;
  min-height: 8vh;
  background-color: #333;
  bottom: 0;
  color: rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

}

.copyright {
  align-self: center;
  bottom: 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;




}

ul.social-icons {
  width: 25%;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

ul.social-icons li {
  margin-top: 10px;
  list-style: none;
}




ul.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

}

ul.social-icons i {
  font-size: 24px;
}

@media (max-width:1000px) {

  tr,
  td {
    font-size: 1em
  }
}

@media (max-width:800px) {

  tr,
  td {
    font-size: 0.8em
  }

  img#img {
    width: 100px;
  }
}